<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xhy.weibo">
    <meta-data
        android:name="com.bumptech.glide.integration.okhttp.OkHttpGlideModule"
        android:value="GlideModule" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 可选 -->
    <uses-permission android:name="android.permission.GET_TASKS"></uses-permission>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".ui.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_my"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.StatusDetailActivity"
            android:label="@string/title_activity_status_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.WriteStatusActivity"
            android:label="@string/title_activity_write_comment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.ViewPicActivity" />
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:label="@string/title_OtherUserInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.HotsActivity" />
        <activity android:name=".ui.activity.KeepStatusActivity" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivty"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NotifyActivity"
            android:label="@string/title_activity_notify"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.AtActivity"
            android:label="@string/title_activity_at"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <service
            android:name=".service.MessageService"
            android:enabled="true"
            android:exported="true"
            android:label="消息推送"
            android:process=":message" />

        <receiver
            android:name=".receiver.NotificationReceiver"
            android:process=":message" />

        <receiver android:name=".receiver.UpdateToeknReceiver">
            <intent-filter>
                <action android:name="com.xhy.weibo.UPDATE_TOKEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.UpdateOtherProcessReceiver"
            android:process=":message">
            <intent-filter>
                <action android:name="com.xhy.weibo.UPDATE_OTHER_PROCESS" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.NetWorkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login" />

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings">

        </activity>

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="84b29f55d617c14d9f09248ead1ced2d" />
    </application>

</manifest>