<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xhy.weibo">

    <meta-data
        android:name="com.bumptech.glide.integration.okhttp.OkHttpGlideModule"
        android:value="GlideModule" />

    <!-- Required -->
    <permission
        android:name="com.xhy.weibo.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- 需要运行时注册的权限 -->
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于提高GPS定位速度-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />


    <!-- 可选 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".ui.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_my"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="64d66c79889708c88bb81fd3bb09f82f" />


        <!-- JPush Start -->
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:process=":pushcore"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.xhy.weibo" />
            </intent-filter>
        </activity>

        <!-- SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.xhy.weibo" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />


        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.xhy.weibo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.xhy.weibo" />
            </intent-filter>
        </receiver>

        <!-- 目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <receiver android:name=".receiver.WeiboJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.xhy.weibo"></category>
            </intent-filter>
        </receiver>

        <!-- JPush End -->

        <activity android:name=".ui.activity.BrowserActivity"/>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.StatusDetailActivity"
            android:label="@string/title_activity_status_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.WriteStatusActivity"
            android:label="@string/title_activity_write_comment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.ViewPicActivity" />
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:label="@string/title_OtherUserInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.HotsActivity" />
        <activity android:name=".ui.activity.KeepStatusActivity" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivty"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NotifyActivity"
            android:label="@string/title_activity_notify"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.activity.MainActivity"
            />
        <activity
            android:name=".ui.activity.AtActivity"
            android:label="@string/title_activity_at"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <service
            android:name=".service.MessageService"
            android:enabled="true"
            android:exported="true"
            android:label="消息推送"
            android:process=":message" />

        <receiver
            android:name=".receiver.NotificationReceiver"
            android:process=":message" />
        <receiver android:name=".receiver.UpdateToeknReceiver">
            <intent-filter>
                <action android:name="com.xhy.weibo.UPDATE_TOKEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.UpdateOtherProcessReceiver"
            android:process=":message">
            <intent-filter>
                <action android:name="com.xhy.weibo.UPDATE_OTHER_PROCESS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:theme="@style/Translucent" />

        <receiver android:name=".receiver.NetWorkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="84b29f55d617c14d9f09248ead1ced2d" />

        <activity
            android:name=".ui.activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.SettingChildActivity"></activity>
    </application>

</manifest>